Source: poker-network
Section: libs
Priority: optional
Maintainer: Loic Dachary (OuoU) <loic@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), python2.3, python, python2.3-twisted, python2.3-poker-engine (>= 1.0.1), automaken, debconf
Standards-Version: 3.6.1.1

Package: python2.3-poker-network
Section: libs
Architecture: all
Suggests: mysql-server
Depends: python2.3-poker-engine (>= 1.0.1), python2.3-twisted, libxml2-python2.3, python2.3-mysqldb, debconf, wwwconfig-common, mysql-client
Description: multiplayer poker client library and server
 poker-network is a python poker server and client library. The server
 runs the games, deals the cards and controls the game. The client
 library provides a packet based API to join the ring games or
 tournaments and play the most common poker variants (holdem, omaha,
 7stud). A simple minded poker bot is provided as an example
 application based on the client library and is used to stress test the
 server.
