#!/bin/bash

# taken from phpgroupeware config + template

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Establish the preliminaries.
db_version 2.0

db_input high "python-poker-additions/socialtourneyfilter-url" || true
db_go

db_input high "python-poker-additions/communicator-envparser-url" || true
db_go

db_input high "python-poker-additions/communicator-msgpoker-url" || true
db_go

db_input high "python-poker-additions/communicator-msgpoker-secret" || true
db_go

. /usr/share/dbconfig-common/dpkg/frontend.config.mysql 
dbc_go python-poker-network $@

db_stop

# db_purge # remove me (for debug)

exit 0
