#!/bin/bash

# taken from phpgroupeware config + template

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Establish the preliminaries.
db_version 2.0

dbc_dbuser="poker"
dbc_dbname="pythonpokernetwork"
. /usr/share/dbconfig-common/dpkg/frontend.config.mysql 
dbc_go python-poker-additions $@

db_stop

# db_purge # remove me (for debug)

exit 0
