#!/bin/bash

# taken from phpgroupeware config + template

set -e

. /usr/share/debconf/confmodule

db_version 2.0

# db_capb backup

db_input high "python-poker-network/skip" || true
db_go

db_input high "python-poker-network/host" || true
db_go

db_input high "python-poker-network/www" || true
db_go

db_get "python-poker-network/skip"

if [ "$RET" = "false" ] ; then
    db_input high "python-poker-network/abort" || true
    db_go
    exit 0
fi

db_input low "python-poker-network/bots" || true
db_go

. /usr/share/dbconfig-common/dpkg/config.mysql 
dbc_go python-poker-network $@

db_stop

# db_purge # remove me (for debug)

exit 0
