#!/bin/bash

# taken from phpgroupeware config + template

set -e

. /usr/share/debconf/confmodule

db_version 2.0

# db_capb backup

db_input high "python@PYTHON_VERSION@-poker-network/skip" || true
db_go

db_input high "python@PYTHON_VERSION@-poker-network/host" || true
db_go

db_get "python@PYTHON_VERSION@-poker-network/skip"

if [ "$RET" = "false" ] ; then
    db_input high "python@PYTHON_VERSION@-poker-network/abort" || true
    db_go
    exit 0
fi

# here we go!

db_input high "python@PYTHON_VERSION@-poker-network/db/host" || true
db_go

db_input high "python@PYTHON_VERSION@-poker-network/db/name" || true
db_go

db_input high "python@PYTHON_VERSION@-poker-network/db/user/name" || true
db_go

pass1="1"
pass2="2"

while [ $pass1 != $pass2 ]; do
    db_input high "python@PYTHON_VERSION@-poker-network/db/user/password" || true
    db_go
    
    db_input high "python@PYTHON_VERSION@-poker-network/db/user/password/confirm" || true
    db_go
    
    db_get "python@PYTHON_VERSION@-poker-network/db/user/password"
    pass1=$RET

    db_get "python@PYTHON_VERSION@-poker-network/db/user/password/confirm"
    pass2=$RET

    if [ $pass1 != $pass2 ]; then
	db_input high "python@PYTHON_VERSION@-poker-network/db/user/password/mismatch" || true
    fi
done

db_input high "python@PYTHON_VERSION@-poker-network/db/admin/name" || true
db_go

db_input high "python@PYTHON_VERSION@-poker-network/db/admin/password" || true
db_go

db_stop

# db_purge # remove me (for debug)

exit 0
