#!/usr/bin/make -f
# -*- makefile -*-

#COVERAGE=/usr/bin/env python-coverage

PYTHON2=$(shell pyversions -vr)

build:
	/usr/bin/env python setup.py configure -b
	dh $@ --buildsystem=python_distutils --with=python2

%:
	dh $@ --buildsystem=python_distutils --with=python2

#override_dh_auto_test:
#	$(COVERAGE) -x setup.py test -f
#	$(COVERAGE) -r pokernetwork/*.py
#	rm .coverage
