#!/usr/bin/make -f
# -*- makefile -*-

COVERAGE=/usr/bin/env python-coverage

PYTHON2=$(shell pyversions -vr)

configure:
	/usr/bin/env python setup.py configure

%: configure
	dh $@ --buildsystem=python_distutils --with=python2

#override_dh_auto_test:
#	$(COVERAGE) run setup.py test
#	$(COVERAGE) report pokerengine/*.py
#	rm .coverage

